@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Witamy na stronie głównej </h1>
    <h2>Zarządzanie personelem</h2>

    @if(HttpContext.Session.GetString("Nick") != null)
    {
        <h3>Jesteś zalogowany jako: @HttpContext.Session.GetString("Nick")</h3>
    }
    else
    {
        <h3>Aktualnie nie jesteś zalogowany, zaloguj się aby mieć dostęp do danych na stronie!</h3>
    }
             <h3> @TempData["newAccount"]</h3>      
</div>
